Repository marko-js/compat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, sort-package-json --quiet

wip: test runner improvements
  .mocharc.json
  package-lock.json
  package.json
  src/__tests__/fixtures/init-widgets/__snapshots__/dom.expected.md
  src/__tests__/fixtures/init-widgets/__snapshots__/dom.expected/template.js
  src/__tests__/fixtures/init-widgets/__snapshots__/html.expected.md
  src/__tests__/fixtures/init-widgets/__snapshots__/html.expected/template.js
  src/__tests__/fixtures/init-widgets/__snapshots__/hydrate.expected.md
  src/__tests__/fixtures/init-widgets/template.marko
  src/__tests__/fixtures/test-component/__snapshots__/dom.expected.md
  src/__tests__/fixtures/test-component/__snapshots__/dom.expected/template.js
  src/__tests__/fixtures/test-component/__snapshots__/html.expected.md
  src/__tests__/fixtures/test-component/__snapshots__/html.expected/template.js
  src/__tests__/fixtures/test-component/__snapshots__/hydrate.expected.md
  src/__tests__/fixtures/test-component/template.marko
  src/__tests__/fixtures/test-component/test.ts
  src/__tests__/main.test.ts
  src/__tests__/utils/track-mutations.ts
  src/components/init-widgets/marko-tag.json
  src/error-translator.ts
Due: eslint --fix, prettier --write, sort-package-json --quiet

chore: switch to happy-dom
  marko.json
  package-lock.json
  package.json
  src/__tests__/fixtures/init-widgets/__snapshots__/dom.expected.md
  src/__tests__/fixtures/init-widgets/__snapshots__/html.expected.md
  src/__tests__/fixtures/test-component/__snapshots__/dom.expected.md
  src/__tests__/fixtures/test-component/__snapshots__/html.expected.md
  src/__tests__/fixtures/test-component/__snapshots__/hydrate.expected.md
  src/__tests__/fixtures/test-component/test.ts
  src/__tests__/main.test.ts
  src/__tests__/utils/create-browser.ts
  src/__tests__/utils/create-tracker.ts
  src/__tests__/utils/init-components.marko
Due: eslint --fix, prettier --write, sort-package-json --quiet

chore: add migration test and remove test file paths from snapshots
  src/__tests__/fixtures/init-widgets/__snapshots__/dom.expected/template.js
  src/__tests__/fixtures/init-widgets/__snapshots__/html.expected/template.js
  src/__tests__/fixtures/init-widgets/__snapshots__/migrate.expected/template.marko
  src/__tests__/fixtures/test-component/__snapshots__/dom.expected/template.js
  src/__tests__/fixtures/test-component/__snapshots__/html.expected.md
  src/__tests__/fixtures/test-component/__snapshots__/html.expected/template.js
  src/__tests__/fixtures/test-component/__snapshots__/migrate.expected/template.marko
  src/__tests__/main.test.ts
  src/error-translator.ts
Due: eslint --fix, prettier --write

wip: non standard template literals
  src/__tests__/fixtures/non-standard-template-literals/__snapshots__/migrate.expected/template.marko
  src/__tests__/fixtures/non-standard-template-literals/template.marko
  src/__tests__/fixtures/non-standard-template-literals/test.ts
  src/__tests__/main.test.ts
  src/marko.json
  src/migrate.ts
  src/migrate/index.ts
  src/migrate/non-standard-template-literals.ts
  src/translate.ts
Due: eslint --fix, prettier --write

feat: non standard template literals
  src/__tests__/fixtures/non-standard-template-literals/__snapshots__/migrate.expected/template.marko
  src/__tests__/fixtures/non-standard-template-literals/template.marko
  src/migrate/non-standard-template-literals.ts
  src/migrate/non-standard-template-literals/index.ts
  src/migrate/non-standard-template-literals/parse.ts
Due: eslint --fix, prettier --write

chore: add test harness for manual migrations
  src/__tests__/fixtures/init-widgets/__snapshots__/auto-migrate.expected/template.marko
  src/__tests__/fixtures/non-standard-template-literals/__snapshots__/auto-migrate.expected/template.marko
  src/__tests__/fixtures/non-standard-template-literals/__snapshots__/manual-migrate-0.expected/template.marko
  src/__tests__/fixtures/non-standard-template-literals/__snapshots__/manual-migrate-1.expected/template.marko
  src/__tests__/fixtures/non-standard-template-literals/test.ts
  src/__tests__/fixtures/test-component/__snapshots__/auto-migrate.expected/template.marko
  src/__tests__/main.test.ts
Due: eslint --fix, prettier --write

chore: make non standard template string tests runnable
  src/__tests__/fixtures/non-standard-template-literals/__snapshots__/auto-migrate.expected/template.marko
  src/__tests__/fixtures/non-standard-template-literals/__snapshots__/dom.expected.md
  src/__tests__/fixtures/non-standard-template-literals/__snapshots__/dom.expected/template.js
  src/__tests__/fixtures/non-standard-template-literals/__snapshots__/html.expected.md
  src/__tests__/fixtures/non-standard-template-literals/__snapshots__/html.expected/template.js
  src/__tests__/fixtures/non-standard-template-literals/__snapshots__/hydrate.expected.md
  src/__tests__/fixtures/non-standard-template-literals/__snapshots__/manual-migrate-0.expected/template.marko
  src/__tests__/fixtures/non-standard-template-literals/__snapshots__/manual-migrate-1.expected/template.marko
  src/__tests__/fixtures/non-standard-template-literals/template.marko
  src/__tests__/fixtures/non-standard-template-literals/test.ts
Due: eslint --fix, prettier --write

feat: add migrator for legacy dynamic attrs
  src/__tests__/fixtures/dynamic-attributes/__snapshots__/auto-migrate.expected/template.marko
  src/__tests__/fixtures/dynamic-attributes/__snapshots__/dom.expected.md
  src/__tests__/fixtures/dynamic-attributes/__snapshots__/dom.expected/template.js
  src/__tests__/fixtures/dynamic-attributes/__snapshots__/html.expected.md
  src/__tests__/fixtures/dynamic-attributes/__snapshots__/html.expected/template.js
  src/__tests__/fixtures/dynamic-attributes/__snapshots__/hydrate.expected.md
  src/__tests__/fixtures/dynamic-attributes/template.marko
  src/__tests__/fixtures/dynamic-attributes/test.ts
  src/migrate/dynamic-attributes.ts
  src/migrate/index.ts
Due: eslint --fix, prettier --write

feat: add assign and var tag migrations
  src/__tests__/fixtures/assign-tag/__snapshots__/auto-migrate.expected/template.marko
  src/__tests__/fixtures/assign-tag/__snapshots__/dom.expected.md
  src/__tests__/fixtures/assign-tag/__snapshots__/dom.expected/template.js
  src/__tests__/fixtures/assign-tag/__snapshots__/html.expected.md
  src/__tests__/fixtures/assign-tag/__snapshots__/html.expected/template.js
  src/__tests__/fixtures/assign-tag/__snapshots__/hydrate.expected.md
  src/__tests__/fixtures/assign-tag/template.marko
  src/__tests__/fixtures/var-tag/__snapshots__/auto-migrate.expected/template.marko
  src/__tests__/fixtures/var-tag/__snapshots__/dom.expected.md
  src/__tests__/fixtures/var-tag/__snapshots__/dom.expected/template.js
  src/__tests__/fixtures/var-tag/__snapshots__/html.expected.md
  src/__tests__/fixtures/var-tag/__snapshots__/html.expected/template.js
  src/__tests__/fixtures/var-tag/__snapshots__/hydrate.expected.md
  src/__tests__/fixtures/var-tag/template.marko
  src/components/assign/marko-tag.json
  src/components/assign/migrate.ts
  src/components/var/marko-tag.json
  src/components/var/migrate.ts
Due: eslint --fix, prettier --write

chore: upgrade deps
  package-lock.json
  package.json
Due: prettier --write, sort-package-json --quiet

wip: some directives
  package-lock.json
  package.json
  packages/compat-v4/marko.json
  packages/compat-v4/src/marko.json
  packages/compat-v4/src/migrate/body-only-if-directive.ts
  packages/compat-v4/src/migrate/if-directive.ts
  packages/compat-v4/src/migrate/index.ts
  packages/marko-widgets/marko.json
  packages/marko-widgets/src/marko.json
  tests/fixtures-class/body-only-if-custom-tag/__snapshots__/auto-migrate.expected/components/component-1.marko
  tests/fixtures-class/body-only-if-custom-tag/__snapshots__/auto-migrate.expected/components/component-2.marko
  tests/fixtures-class/body-only-if-custom-tag/__snapshots__/auto-migrate.expected/components/component-3.marko
  tests/fixtures-class/body-only-if-custom-tag/__snapshots__/auto-migrate.expected/template.marko
  tests/fixtures-class/body-only-if-custom-tag/__snapshots__/dom.expected.md
  tests/fixtures-class/body-only-if-custom-tag/__snapshots__/dom.expected/components/component-1.js
  tests/fixtures-class/body-only-if-custom-tag/__snapshots__/dom.expected/components/component-2.js
  tests/fixtures-class/body-only-if-custom-tag/__snapshots__/dom.expected/components/component-3.js
  tests/fixtures-class/body-only-if-custom-tag/__snapshots__/dom.expected/template.js
  tests/fixtures-class/body-only-if-custom-tag/__snapshots__/html.expected.md
  tests/fixtures-class/body-only-if-custom-tag/__snapshots__/html.expected/components/component-1.js
  tests/fixtures-class/body-only-if-custom-tag/__snapshots__/html.expected/components/component-2.js
  tests/fixtures-class/body-only-if-custom-tag/__snapshots__/html.expected/components/component-3.js
  tests/fixtures-class/body-only-if-custom-tag/__snapshots__/html.expected/template.js
  tests/fixtures-class/body-only-if-custom-tag/__snapshots__/hydrate.expected.md
  tests/fixtures-class/body-only-if-custom-tag/components/component-1.marko
  tests/fixtures-class/body-only-if-custom-tag/components/component-2.marko
  tests/fixtures-class/body-only-if-custom-tag/components/component-3.marko
  tests/fixtures-class/body-only-if-custom-tag/template.marko
  tests/fixtures-class/body-only-if-native-tag/__snapshots__/auto-migrate.expected/template.marko
  tests/fixtures-class/body-only-if-native-tag/__snapshots__/dom.expected.md
  tests/fixtures-class/body-only-if-native-tag/__snapshots__/dom.expected/template.js
  tests/fixtures-class/body-only-if-native-tag/__snapshots__/html.expected.md
  tests/fixtures-class/body-only-if-native-tag/__snapshots__/html.expected/template.js
  tests/fixtures-class/body-only-if-native-tag/__snapshots__/hydrate.expected.md
  tests/fixtures-class/body-only-if-native-tag/template.marko
Due: eslint --fix, prettier --write, sort-package-json --quiet

feat: improve body-only-if-helper
  packages/compat-v4/src/migrate/body-only-if-directive.ts
  packages/compat-v4/src/util/import.ts
  tests/fixtures-class/body-only-if-custom-tag/__snapshots__/auto-migrate.expected/components/component-4.marko
  tests/fixtures-class/body-only-if-custom-tag/__snapshots__/auto-migrate.expected/template.marko
  tests/fixtures-class/body-only-if-custom-tag/__snapshots__/dom.expected.md
  tests/fixtures-class/body-only-if-custom-tag/__snapshots__/dom.expected/components/component-4.js
  tests/fixtures-class/body-only-if-custom-tag/__snapshots__/dom.expected/template.js
  tests/fixtures-class/body-only-if-custom-tag/__snapshots__/html.expected.md
  tests/fixtures-class/body-only-if-custom-tag/__snapshots__/html.expected/components/component-4.js
  tests/fixtures-class/body-only-if-custom-tag/__snapshots__/html.expected/template.js
  tests/fixtures-class/body-only-if-custom-tag/__snapshots__/hydrate.expected.md
  tests/fixtures-class/body-only-if-custom-tag/components/component-4.marko
  tests/fixtures-class/body-only-if-custom-tag/template.marko
  tests/fixtures-class/body-only-if-custom-tag/test.ts
Due: eslint --fix, prettier --write

chore: improve body-only-if-test
  tests/fixtures-class/body-only-if-custom-tag/__snapshots__/auto-migrate.expected/components/component-1.marko
  tests/fixtures-class/body-only-if-custom-tag/__snapshots__/auto-migrate.expected/components/component-2.marko
  tests/fixtures-class/body-only-if-custom-tag/__snapshots__/auto-migrate.expected/components/component-3.marko
  tests/fixtures-class/body-only-if-custom-tag/__snapshots__/auto-migrate.expected/components/component-4.marko
  tests/fixtures-class/body-only-if-custom-tag/__snapshots__/auto-migrate.expected/template.marko
  tests/fixtures-class/body-only-if-custom-tag/__snapshots__/dom.expected.md
  tests/fixtures-class/body-only-if-custom-tag/__snapshots__/dom.expected/components/component-1.js
  tests/fixtures-class/body-only-if-custom-tag/__snapshots__/dom.expected/components/component-2.js
  tests/fixtures-class/body-only-if-custom-tag/__snapshots__/dom.expected/components/component-3.js
  tests/fixtures-class/body-only-if-custom-tag/__snapshots__/dom.expected/components/component-4.js
  tests/fixtures-class/body-only-if-custom-tag/__snapshots__/dom.expected/template.js
  tests/fixtures-class/body-only-if-custom-tag/__snapshots__/html.expected.md
  tests/fixtures-class/body-only-if-custom-tag/__snapshots__/html.expected/components/component-1.js
  tests/fixtures-class/body-only-if-custom-tag/__snapshots__/html.expected/components/component-2.js
  tests/fixtures-class/body-only-if-custom-tag/__snapshots__/html.expected/components/component-3.js
  tests/fixtures-class/body-only-if-custom-tag/__snapshots__/html.expected/components/component-4.js
  tests/fixtures-class/body-only-if-custom-tag/__snapshots__/html.expected/template.js
  tests/fixtures-class/body-only-if-custom-tag/__snapshots__/hydrate.expected.md
  tests/fixtures-class/body-only-if-custom-tag/components/component-1.marko
  tests/fixtures-class/body-only-if-custom-tag/components/component-2.marko
  tests/fixtures-class/body-only-if-custom-tag/components/component-3.marko
  tests/fixtures-class/body-only-if-custom-tag/components/component-4.marko
  tests/fixtures-class/body-only-if-custom-tag/template.marko
Due: prettier --write

chore: update deps
  .eslintrc.json
  package-lock.json
  package.json
  packages/compat-v4/package.json
  packages/compat-v4/src/migrate/dynamic-attributes.ts
  packages/compat-v4/src/migrate/non-standard-template-literals/parse.ts
  packages/marko-widgets/package.json
  packages/marko-widgets/src/components/assign/migrate.ts
Due: eslint --fix, prettier --write, sort-package-json --quiet

feat: await/async-fragment tags
  package-lock.json
  package.json
  packages/compat-v4/package.json
  packages/compat-v4/src/components/await/migrate.ts
  packages/compat-v4/src/error-translator.ts
  packages/marko-widgets/package.json
  packages/marko-widgets/src/components/assign/marko-tag.json
  packages/marko-widgets/src/components/async-fragment/migrate.ts
  packages/marko-widgets/src/components/init-widgets/marko-tag.json
  packages/marko-widgets/src/components/var/marko-tag.json
  tests/fixtures-class/await-from-tag/__snapshots__/auto-migrate.expected/template.marko
  tests/fixtures-class/await-from-tag/__snapshots__/html.expected.md
  tests/fixtures-class/await-from-tag/__snapshots__/html.expected/template.js
  tests/fixtures-class/await-from-tag/template.marko
  tests/fixtures-class/await-from-tag/test.ts
Due: eslint --fix, prettier --write, sort-package-json --quiet

chore: switch from tsx, add await test
  .mocharc.json
  build.ts
  package-lock.json
  package.json
  packages/compat-v4/src/components/await/migrate.ts
  tests/fixtures-class/await-from-tag/__snapshots__/auto-migrate.expected/template.marko
  tests/fixtures-class/await-from-tag/__snapshots__/html.expected.md
  tests/fixtures-class/await-from-tag/__snapshots__/html.expected/template.js
  tests/fixtures-class/await-from-tag/template.marko
  ts-load.js
Due: eslint --fix, prettier --write, sort-package-json --quiet

chore: increase await tag test coverage
  tests/fixtures-class/await-from-tag-spread-error/__snapshots__/dom.expected/template.js.error.txt
  tests/fixtures-class/await-from-tag-spread-error/__snapshots__/html.expected/template.js.error.txt
  tests/fixtures-class/await-from-tag-spread-error/template.marko
  tests/fixtures-class/await-from-tag-spread-error/test.ts
  tests/fixtures-class/await-from-tag/__snapshots__/auto-migrate.expected/template.marko
  tests/fixtures-class/await-from-tag/__snapshots__/html.expected.md
  tests/fixtures-class/await-from-tag/__snapshots__/html.expected/template.js
  tests/fixtures-class/await-from-tag/template.marko
  tests/fixtures-class/await-modern-syntax-error/__snapshots__/dom.expected/template.js.error.txt
  tests/fixtures-class/await-modern-syntax-error/__snapshots__/html.expected/template.js.error.txt
  tests/fixtures-class/await-modern-syntax-error/template.marko
  tests/fixtures-class/await-modern-syntax-error/test.ts
  tests/main.test.ts
Due: eslint --fix, prettier --write

chore: improve coverage
  packages/compat-v4/src/components/await/migrate.ts
  packages/marko-widgets/src/components/assign/migrate.ts
  packages/marko-widgets/src/components/async-fragment/migrate.ts
  packages/marko-widgets/src/components/var/migrate.ts
  tests/fixtures-widget/assign-tag-no-value-error/__snapshots__/dom.expected/template.js.error.txt
  tests/fixtures-widget/assign-tag-no-value-error/__snapshots__/html.expected/template.js.error.txt
  tests/fixtures-widget/assign-tag-no-value-error/template.marko
  tests/fixtures-widget/assign-tag-no-value-error/test.ts
  tests/fixtures-widget/assign-tag-spread-attr-error/__snapshots__/dom.expected/template.js.error.txt
  tests/fixtures-widget/assign-tag-spread-attr-error/__snapshots__/html.expected/template.js.error.txt
  tests/fixtures-widget/assign-tag-spread-attr-error/template.marko
  tests/fixtures-widget/assign-tag-spread-attr-error/test.ts
Due: eslint --fix, prettier --write

feat: async-fragment tests and fixes
  packages/compat-v4/src/components/await/migrate.ts
  packages/marko-widgets/src/components/async-fragment/migrate.ts
  tests/fixtures-widget/async-fragment-tag/__snapshots__/auto-migrate.expected/template.marko
  tests/fixtures-widget/async-fragment-tag/__snapshots__/html.expected.md
  tests/fixtures-widget/async-fragment-tag/__snapshots__/html.expected/template.js
  tests/fixtures-widget/async-fragment-tag/template.marko
  tests/fixtures-widget/async-fragment-tag/test.ts
Due: eslint --fix, prettier --write

feat: component-globals tag
  packages/marko-widgets/src/components/component-globals/migrate.ts
  tests/fixtures-widget/component-globals/__snapshots__/auto-migrate.expected/template.marko
  tests/fixtures-widget/component-globals/__snapshots__/dom.expected.md
  tests/fixtures-widget/component-globals/__snapshots__/dom.expected/template.js
  tests/fixtures-widget/component-globals/__snapshots__/html.expected.md
  tests/fixtures-widget/component-globals/__snapshots__/html.expected/template.js
  tests/fixtures-widget/component-globals/__snapshots__/hydrate.expected.md
  tests/fixtures-widget/component-globals/template.marko
Due: eslint --fix, prettier --write

feat: async-fragments tag
  packages/marko-widgets/src/components/async-fragments/migrate.ts
  tests/fixtures-widget/async-fragments-tag/__snapshots__/auto-migrate.expected/template.marko
  tests/fixtures-widget/async-fragments-tag/__snapshots__/html.expected.md
  tests/fixtures-widget/async-fragments-tag/__snapshots__/html.expected/template.js
  tests/fixtures-widget/async-fragments-tag/template.marko
  tests/fixtures-widget/async-fragments-tag/test.ts
Due: eslint --fix, prettier --write

feat: add unless tag migration
  packages/compat-v4/src/components/unless/migrate.ts
  tests/fixtures-class/unless-tag-errors/__snapshots__/dom.expected/template.js.error.txt
  tests/fixtures-class/unless-tag-errors/__snapshots__/html.expected/template.js.error.txt
  tests/fixtures-class/unless-tag-errors/template.marko
  tests/fixtures-class/unless-tag-errors/test.ts
  tests/fixtures-class/unless-tag/__snapshots__/auto-migrate.expected/template.marko
  tests/fixtures-class/unless-tag/__snapshots__/dom.expected.md
  tests/fixtures-class/unless-tag/__snapshots__/dom.expected/template.js
  tests/fixtures-class/unless-tag/__snapshots__/html.expected.md
  tests/fixtures-class/unless-tag/__snapshots__/html.expected/template.js
  tests/fixtures-class/unless-tag/__snapshots__/hydrate.expected.md
  tests/fixtures-class/unless-tag/template.marko
Due: eslint --fix, prettier --write

feat: legacy macro and invoke tags
  package-lock.json
  package.json
  packages/compat-v4/package.json
  packages/compat-v4/src/components/macro-body/migrate.ts
  packages/compat-v4/src/components/macro/migrate.ts
  packages/marko-widgets/package.json
  packages/marko-widgets/src/components/invoke/migrate.ts
  tests/fixtures-class/macro-tag/__snapshots__/auto-migrate.expected/template.marko
  tests/fixtures-class/macro-tag/__snapshots__/dom.expected.md
  tests/fixtures-class/macro-tag/__snapshots__/dom.expected/template.js
  tests/fixtures-class/macro-tag/__snapshots__/html.expected.md
  tests/fixtures-class/macro-tag/__snapshots__/html.expected/template.js
  tests/fixtures-class/macro-tag/__snapshots__/hydrate.expected.md
  tests/fixtures-class/macro-tag/template.marko
Due: eslint --fix, prettier --write, sort-package-json --quiet

feat: replace manual render calls
  packages/compat-v4/src/migrate/index.ts
  packages/compat-v4/src/migrate/render-calls.ts
  tests/fixtures-class/macro-tag/__snapshots__/auto-migrate.expected/template.marko
  tests/fixtures-class/macro-tag/__snapshots__/dom.expected/template.js
  tests/fixtures-class/macro-tag/__snapshots__/html.expected/template.js
  tests/fixtures-class/render-calls/__snapshots__/auto-migrate.expected/template.marko
  tests/fixtures-class/render-calls/__snapshots__/dom.expected/template.js
  tests/fixtures-class/render-calls/__snapshots__/html.expected/template.js
  tests/fixtures-class/render-calls/template.marko
  tests/fixtures-class/render-calls/test.ts
Due: eslint --fix, prettier --write

refactor scripts
  .mocharc.json
  package-lock.json
  package.json
  scripts/babel-register.js
  scripts/build.ts
Due: eslint --fix, prettier --write, sort-package-json --quiet

chore: upgrade deps
  package-lock.json
  package.json
  packages/compat-v4/src/components/await/migrate.ts
  packages/compat-v4/src/components/macro-body/migrate.ts
  packages/compat-v4/src/components/macro/migrate.ts
  packages/compat-v4/src/components/unless/migrate.ts
  packages/compat-v4/src/migrate/body-only-if-directive.ts
  packages/compat-v4/src/migrate/dynamic-attributes.ts
  packages/compat-v4/src/migrate/if-directive.ts
  packages/compat-v4/src/migrate/non-standard-template-literals/index.ts
  packages/compat-v4/src/migrate/non-standard-template-literals/parse.ts
  packages/compat-v4/src/migrate/render-calls.ts
  packages/compat-v4/src/util/import.ts
  packages/marko-widgets/src/components/assign/migrate.ts
  packages/marko-widgets/src/components/async-fragment/migrate.ts
  packages/marko-widgets/src/components/invoke/migrate.ts
  packages/marko-widgets/src/components/var/migrate.ts
  scripts/build.ts
  tests/main.test.ts
  tests/utils/create-browser.ts
  tests/utils/create-tracker.ts
Due: eslint --fix, prettier --write, sort-package-json --quiet

chore: legacy for loop parser
  packages/compat-v4/src/util/parse-for.ts
  packages/compat-v4/src/util/tokenizer.ts
Due: eslint --fix, prettier --write

feat: improve legacy for tag migration
  .mocharc.json
  package-lock.json
  package.json
  packages/compat-v4/src/components/for/migrate.ts
  packages/compat-v4/src/util/parse-for.ts
  tests/fixtures-class/for-args-tag/__snapshots__/auto-migrate.expected/template.marko
  tests/fixtures-class/for-args-tag/__snapshots__/dom.expected.md
  tests/fixtures-class/for-args-tag/__snapshots__/dom.expected/template.js
  tests/fixtures-class/for-args-tag/__snapshots__/html.expected.md
  tests/fixtures-class/for-args-tag/__snapshots__/html.expected/template.js
  tests/fixtures-class/for-args-tag/__snapshots__/hydrate.expected.md
  tests/fixtures-class/for-args-tag/template.marko
Due: eslint --fix, prettier --write, sort-package-json --quiet

fix: improve for tag migration
  packages/compat-v4/src/components/for/migrate.ts
  tests/fixtures-class/for-args-tag/__snapshots__/auto-migrate.expected/template.marko
  tests/fixtures-class/for-args-tag/__snapshots__/dom.expected.md
  tests/fixtures-class/for-args-tag/__snapshots__/dom.expected/template.js
  tests/fixtures-class/for-args-tag/__snapshots__/html.expected.md
  tests/fixtures-class/for-args-tag/__snapshots__/html.expected/template.js
  tests/fixtures-class/for-args-tag/__snapshots__/hydrate.expected.md
  tests/fixtures-class/for-args-tag/template.marko
Due: eslint --fix, prettier --write

feat: add for directive
  packages/compat-v4/src/migrate/for-directive.ts
  packages/compat-v4/src/migrate/index.ts
  tests/fixtures-class/for-directive/__snapshots__/auto-migrate.expected/template.marko
  tests/fixtures-class/for-directive/__snapshots__/dom.expected.md
  tests/fixtures-class/for-directive/__snapshots__/dom.expected/template.js
  tests/fixtures-class/for-directive/__snapshots__/html.expected.md
  tests/fixtures-class/for-directive/__snapshots__/html.expected/template.js
  tests/fixtures-class/for-directive/__snapshots__/hydrate.expected.md
  tests/fixtures-class/for-directive/template.marko
Due: eslint --fix, prettier --write

feat: preserve attrs and widget reference
  packages/marko-widgets/src/migrate/index.ts
  packages/marko-widgets/src/migrate/w-preserve-directives.ts
  packages/marko-widgets/src/migrate/widget-reference.ts
  tests/fixtures-widget/w-preserve-directives/__snapshots__/auto-migrate.expected/template.marko
  tests/fixtures-widget/w-preserve-directives/__snapshots__/dom.expected.md
  tests/fixtures-widget/w-preserve-directives/__snapshots__/dom.expected/template.js
  tests/fixtures-widget/w-preserve-directives/__snapshots__/html.expected.md
  tests/fixtures-widget/w-preserve-directives/__snapshots__/html.expected/template.js
  tests/fixtures-widget/w-preserve-directives/__snapshots__/hydrate.expected.md
  tests/fixtures-widget/w-preserve-directives/template.marko
  tests/fixtures-widget/w-preserve-directives/test.ts
  tests/fixtures-widget/widget-reference/__snapshots__/auto-migrate.expected/template.marko
  tests/fixtures-widget/widget-reference/__snapshots__/dom.expected.md
  tests/fixtures-widget/widget-reference/__snapshots__/dom.expected/template.js
  tests/fixtures-widget/widget-reference/__snapshots__/html.expected.md
  tests/fixtures-widget/widget-reference/__snapshots__/html.expected/template.js
  tests/fixtures-widget/widget-reference/__snapshots__/hydrate.expected.md
  tests/fixtures-widget/widget-reference/template.marko
Due: eslint --fix, prettier --write

feat: add include tag
  packages/compat-v4/src/components/for/migrate.ts
  packages/compat-v4/src/components/include/migrate.ts
  packages/compat-v4/src/util/expr-to-attrs.ts
  packages/compat-v4/src/util/import.ts
  tests/fixtures-class/include-tag-error/__snapshots__/dom.expected/template.js.error.txt
  tests/fixtures-class/include-tag-error/__snapshots__/html.expected/template.js.error.txt
  tests/fixtures-class/include-tag-error/template.marko
  tests/fixtures-class/include-tag-error/test.ts
  tests/fixtures-class/include-tag/__snapshots__/auto-migrate.expected/components/test.marko
  tests/fixtures-class/include-tag/__snapshots__/auto-migrate.expected/nested/index.marko
  tests/fixtures-class/include-tag/__snapshots__/auto-migrate.expected/nested/thing.marko
  tests/fixtures-class/include-tag/__snapshots__/auto-migrate.expected/template.marko
  tests/fixtures-class/include-tag/__snapshots__/auto-migrate.expected/test.marko
  tests/fixtures-class/include-tag/__snapshots__/dom.expected.md
  tests/fixtures-class/include-tag/__snapshots__/dom.expected/components/test.js
  tests/fixtures-class/include-tag/__snapshots__/dom.expected/nested/index.js
  tests/fixtures-class/include-tag/__snapshots__/dom.expected/nested/thing.js
  tests/fixtures-class/include-tag/__snapshots__/dom.expected/template.js
  tests/fixtures-class/include-tag/__snapshots__/dom.expected/test.js
  tests/fixtures-class/include-tag/__snapshots__/html.expected.md
  tests/fixtures-class/include-tag/__snapshots__/html.expected/components/test.js
  tests/fixtures-class/include-tag/__snapshots__/html.expected/components/test.marko
  tests/fixtures-class/include-tag/__snapshots__/html.expected/nested/index.js
  tests/fixtures-class/include-tag/__snapshots__/html.expected/nested/index.marko
  tests/fixtures-class/include-tag/__snapshots__/html.expected/nested/thing.js
  tests/fixtures-class/include-tag/__snapshots__/html.expected/nested/thing.marko
  tests/fixtures-class/include-tag/__snapshots__/html.expected/template.js
  tests/fixtures-class/include-tag/__snapshots__/html.expected/test.js
  tests/fixtures-class/include-tag/__snapshots__/hydrate.expected.md
  tests/fixtures-class/include-tag/components/test.marko
  tests/fixtures-class/include-tag/nested/index.marko
  tests/fixtures-class/include-tag/nested/thing.marko
  tests/fixtures-class/include-tag/template.marko
  tests/fixtures-class/include-tag/test.marko
Due: eslint --fix, prettier --write

chore: improve macro-body errors and tests
  packages/compat-v4/src/components/macro-body/migrate.ts
  tests/fixtures-class/macro-error/__snapshots__/dom.expected/template.js.error.txt
  tests/fixtures-class/macro-error/__snapshots__/html.expected/template.js.error.txt
  tests/fixtures-class/macro-error/template.marko
  tests/fixtures-class/macro-error/test.ts
Due: eslint --fix, prettier --write

chore: improve errors for invoke tag
  packages/marko-widgets/src/components/invoke/migrate.ts
  tests/fixtures-widget/invoke-tag-errors/__snapshots__/auto-migrate.expected/template.marko
  tests/fixtures-widget/invoke-tag-errors/__snapshots__/dom.expected/template.js.error.txt
  tests/fixtures-widget/invoke-tag-errors/__snapshots__/html.expected/template.js.error.txt
  tests/fixtures-widget/invoke-tag-errors/template.marko
  tests/fixtures-widget/invoke-tag-errors/test.ts
  tests/fixtures-widget/invoke-tag/__snapshots__/auto-migrate.expected/template.marko
  tests/fixtures-widget/invoke-tag/__snapshots__/dom.expected.md
  tests/fixtures-widget/invoke-tag/__snapshots__/dom.expected/template.js
  tests/fixtures-widget/invoke-tag/__snapshots__/html.expected.md
  tests/fixtures-widget/invoke-tag/__snapshots__/html.expected/template.js
  tests/fixtures-widget/invoke-tag/__snapshots__/hydrate.expected.md
  tests/fixtures-widget/invoke-tag/template.marko
  tests/main.test.ts
Due: eslint --fix, prettier --write

chore: improve include tag tests
  packages/compat-v4/src/util/expr-to-attrs.ts
  tests/fixtures-class/include-tag/__snapshots__/auto-migrate.expected/template.marko
  tests/fixtures-class/include-tag/__snapshots__/dom.expected.md
  tests/fixtures-class/include-tag/__snapshots__/dom.expected/template.js
  tests/fixtures-class/include-tag/__snapshots__/html.expected.md
  tests/fixtures-class/include-tag/__snapshots__/html.expected/template.js
  tests/fixtures-class/include-tag/__snapshots__/hydrate.expected.md
  tests/fixtures-class/include-tag/template.marko
Due: eslint --fix, prettier --write

chore: var tag errors
  tests/fixtures-widget/var-tag-errors/__snapshots__/dom.expected/template.js.error.txt
  tests/fixtures-widget/var-tag-errors/__snapshots__/html.expected/template.js.error.txt
  tests/fixtures-widget/var-tag-errors/template.marko
  tests/fixtures-widget/var-tag-errors/test.ts
Due: eslint --fix, prettier --write

feat: include directive
  packages/compat-v4/src/migrate/include-directive.ts
  packages/compat-v4/src/migrate/index.ts
  tests/fixtures-class/include-directive/__snapshots__/auto-migrate.expected/components/test.marko
  tests/fixtures-class/include-directive/__snapshots__/auto-migrate.expected/nested/index.marko
  tests/fixtures-class/include-directive/__snapshots__/auto-migrate.expected/nested/thing.marko
  tests/fixtures-class/include-directive/__snapshots__/auto-migrate.expected/template.marko
  tests/fixtures-class/include-directive/__snapshots__/auto-migrate.expected/test.marko
  tests/fixtures-class/include-directive/__snapshots__/dom.expected.md
  tests/fixtures-class/include-directive/__snapshots__/dom.expected/components/test.js
  tests/fixtures-class/include-directive/__snapshots__/dom.expected/nested/index.js
  tests/fixtures-class/include-directive/__snapshots__/dom.expected/nested/thing.js
  tests/fixtures-class/include-directive/__snapshots__/dom.expected/template.js
  tests/fixtures-class/include-directive/__snapshots__/dom.expected/test.js
  tests/fixtures-class/include-directive/__snapshots__/html.expected.md
  tests/fixtures-class/include-directive/__snapshots__/html.expected/components/test.js
  tests/fixtures-class/include-directive/__snapshots__/html.expected/nested/index.js
  tests/fixtures-class/include-directive/__snapshots__/html.expected/nested/thing.js
  tests/fixtures-class/include-directive/__snapshots__/html.expected/template.js
  tests/fixtures-class/include-directive/__snapshots__/html.expected/test.js
  tests/fixtures-class/include-directive/__snapshots__/hydrate.expected.md
  tests/fixtures-class/include-directive/components/test.marko
  tests/fixtures-class/include-directive/nested/index.marko
  tests/fixtures-class/include-directive/nested/thing.marko
  tests/fixtures-class/include-directive/template.marko
  tests/fixtures-class/include-directive/test.marko
Due: eslint --fix, prettier --write

feat: legacy attr tag syntax
  packages/compat-v4/src/components/await/migrate.ts
  packages/compat-v4/src/migrate/index.ts
  packages/compat-v4/src/migrate/legacy-attribute-tags.ts
  packages/marko-widgets/src/components/async-fragment/migrate.ts
  packages/marko-widgets/src/components/invoke/migrate.ts
  tests/fixtures-class/legacy-attrs-tags/__snapshots__/auto-migrate.expected/components/test.marko
  tests/fixtures-class/legacy-attrs-tags/__snapshots__/auto-migrate.expected/template.marko
  tests/fixtures-class/legacy-attrs-tags/__snapshots__/dom.expected.md
  tests/fixtures-class/legacy-attrs-tags/__snapshots__/dom.expected/components/test.js
  tests/fixtures-class/legacy-attrs-tags/__snapshots__/dom.expected/template.js
  tests/fixtures-class/legacy-attrs-tags/__snapshots__/html.expected.md
  tests/fixtures-class/legacy-attrs-tags/__snapshots__/html.expected/components/test.js
  tests/fixtures-class/legacy-attrs-tags/__snapshots__/html.expected/template.js
  tests/fixtures-class/legacy-attrs-tags/__snapshots__/hydrate.expected.md
  tests/fixtures-class/legacy-attrs-tags/components/test.marko
  tests/fixtures-class/legacy-attrs-tags/template.marko
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: ((any of: *.ts) or (any of: *{.js,.json,.md,.yml,rc})) or (any of: ./package.json)
  sort-package-json --quiet: any of: ./package.json
