Repository marko-js/compat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, sort-package-json --quiet

fix: validate nesting for legacy attribute tags before renaming
  packages/compat-v4/src/migrate/legacy-attribute-tags.ts
Due: eslint --fix, prettier --write

fix: body-only-if directive was inverted
  packages/compat-v4/src/migrate/body-only-if-directive.ts
Due: eslint --fix, prettier --write

feat: support var attr without assignment and var attribute body
  packages/marko-widgets/src/components/var/migrate.ts
Due: eslint --fix, prettier --write

chore: add README's
  README.md
  packages/compat-v4/README.md
  packages/marko-widgets/README.md
Due: prettier --write

fix: issue with changesets complaining about missing pkg name
  .changeset/config.json
  packages/marko-widgets/package.json
  tests/old/package.json
Due: prettier --write, sort-package-json --quiet

chore: add initial release changeset
  .changeset/loud-vans-serve.md
Due: prettier --write

fix: correct marko-widgets version
  package-lock.json
  tests/old/package.json
Due: prettier --write, sort-package-json --quiet

chore: fix typescript resolve for eslint
  .eslintrc.json
Due: prettier --write

chore: increase available ram for tests
  .mocharc.json
Due: prettier --write

fix: issue running marko.json script in utils repo
  package.json
Due: prettier --write, sort-package-json --quiet

fix: publish config issue
  packages/compat-utils/package.json
  packages/compat-v4/package.json
  packages/marko-widgets/package.json
Due: prettier --write, sort-package-json --quiet

fix: ensure body-only-if arguments are migrated
  .changeset/tiny-cheetahs-tickle.md
  packages/compat-v4/src/migrate/body-only-if-directive.ts
  tests/fixtures-class/body-only-if-custom-tag/__snapshots__/auto-migrate.expected/template.marko
  tests/fixtures-class/body-only-if-custom-tag/__snapshots__/dom.expected.md
  tests/fixtures-class/body-only-if-custom-tag/__snapshots__/dom.expected/template.js
  tests/fixtures-class/body-only-if-custom-tag/__snapshots__/html.expected.md
  tests/fixtures-class/body-only-if-custom-tag/__snapshots__/html.expected/template.js
  tests/fixtures-class/body-only-if-custom-tag/__snapshots__/hydrate.expected.md
  tests/fixtures-class/body-only-if-custom-tag/template.marko
  tests/fixtures-class/body-only-if-native-tag/__snapshots__/auto-migrate.expected/template.marko
  tests/fixtures-class/body-only-if-native-tag/__snapshots__/dom.expected.md
  tests/fixtures-class/body-only-if-native-tag/__snapshots__/dom.expected/template.js
  tests/fixtures-class/body-only-if-native-tag/__snapshots__/html.expected.md
  tests/fixtures-class/body-only-if-native-tag/__snapshots__/html.expected/template.js
  tests/fixtures-class/body-only-if-native-tag/__snapshots__/hydrate.expected.md
  tests/fixtures-class/body-only-if-native-tag/template.marko
Due: eslint --fix, prettier --write

fix: allow namespaced html tag attributes
  .changeset/purple-boxes-chew.md
  packages/compat-v4/src/migrate/index.ts
  packages/compat-v4/src/migrate/native-tag-namespaced-attribute.ts
  tests/fixtures-class/namespaced-attr-native-tag/__snapshots__/auto-migrate.expected/template.marko
  tests/fixtures-class/namespaced-attr-native-tag/__snapshots__/dom.expected.md
  tests/fixtures-class/namespaced-attr-native-tag/__snapshots__/dom.expected/template.js
  tests/fixtures-class/namespaced-attr-native-tag/__snapshots__/html.expected.md
  tests/fixtures-class/namespaced-attr-native-tag/__snapshots__/html.expected/template.js
  tests/fixtures-class/namespaced-attr-native-tag/__snapshots__/hydrate.expected.md
  tests/fixtures-class/namespaced-attr-native-tag/template.marko
Due: eslint --fix, prettier --write

chore: upgrade deps
  package-lock.json
  package.json
Due: prettier --write, sort-package-json --quiet

fix: honor existing id with w-bind
  .changeset/large-deers-doubt.md
  packages/marko-widgets/src/translate/index.ts
Due: eslint --fix, prettier --write

fix: add extra check for if node is removed while optimizing html transform
  .changeset/cuddly-apricots-peel.md
  packages/marko-widgets/src/translate/optmize-html-writes.ts
Due: eslint --fix, prettier --write

fix: directives on compat tags
  .changeset/loud-jobs-repeat.md
  .changeset/pretty-cars-behave.md
  packages/compat-utils/src/tags.ts
  packages/compat-v4/src/components/await/migrate.ts
  packages/compat-v4/src/components/for/migrate.ts
  packages/compat-v4/src/components/include/migrate.ts
  packages/compat-v4/src/components/macro-body/migrate.ts
  packages/compat-v4/src/components/unless/migrate.ts
  packages/compat-v4/src/migrate/if-directive.ts
  packages/compat-v4/src/migrate/include-directive.ts
  packages/compat-v4/src/migrate/loop-directive.ts
  packages/marko-widgets/src/components/async-fragment/migrate.ts
  packages/marko-widgets/src/components/async-fragments/migrate.ts
  packages/marko-widgets/src/components/component-globals/migrate.ts
  packages/marko-widgets/src/components/init-widgets/migrate.ts
  tests/fixtures-widget/layout-use-tag/__snapshots__/auto-migrate.expected/template.marko
  tests/fixtures-widget/layout-use-tag/__snapshots__/dom.expected.md
  tests/fixtures-widget/layout-use-tag/__snapshots__/dom.expected/template.js
  tests/fixtures-widget/layout-use-tag/__snapshots__/html.expected.md
  tests/fixtures-widget/layout-use-tag/__snapshots__/html.expected/template.js
  tests/fixtures-widget/layout-use-tag/__snapshots__/hydrate.expected.md
  tests/fixtures-widget/layout-use-tag/template.marko
Due: eslint --fix, prettier --write

fix: migrate tag arguments
  .changeset/slimy-jokes-deny.md
  package-lock.json
  packages/compat-utils/src/tags.ts
  packages/compat-v4/src/migrate/index.ts
  packages/compat-v4/src/migrate/tag-arguments.ts
  tests/fixtures-class/tag-arguments/__snapshots__/auto-migrate.expected/components/my-tag.marko
  tests/fixtures-class/tag-arguments/__snapshots__/auto-migrate.expected/template.marko
  tests/fixtures-class/tag-arguments/__snapshots__/dom.expected.md
  tests/fixtures-class/tag-arguments/__snapshots__/dom.expected/components/my-tag.js
  tests/fixtures-class/tag-arguments/__snapshots__/dom.expected/template.js
  tests/fixtures-class/tag-arguments/__snapshots__/html.expected.md
  tests/fixtures-class/tag-arguments/__snapshots__/html.expected/components/my-tag.js
  tests/fixtures-class/tag-arguments/__snapshots__/html.expected/template.js
  tests/fixtures-class/tag-arguments/__snapshots__/hydrate.expected.md
  tests/fixtures-class/tag-arguments/components/my-tag.marko
  tests/fixtures-class/tag-arguments/template.marko
  tests/fixtures-class/tag-arguments/test.ts
  tests/old/render/fixtures/invoke/template.marko
Due: eslint --fix, prettier --write

fix: if directive migration for else tags should not migrate
  .changeset/chilled-planets-divide.md
  packages/compat-v4/src/migrate/if-directive.ts
Due: eslint --fix, prettier --write

feat: else if to else-if migration
  .changeset/plenty-stingrays-care.md
  packages/compat-v4/src/migrate/if-directive.ts
Due: eslint --fix, prettier --write

fix: layout-placeholder camel-casing
  .changeset/ninety-mails-call.md
  packages/marko-widgets/src/components/layout-placeholder/migrate.ts
Due: eslint --fix, prettier --write

fix: if directive on else tag
  .changeset/plenty-lobsters-dance.md
  packages/compat-v4/src/migrate/if-directive.ts
Due: eslint --fix, prettier --write

fix: layout-put camelcasing
  .changeset/two-panthers-deny.md
  packages/marko-widgets/src/components/layout-put/migrate.ts
  tests/old/render/fixtures/layout-use-dashed/test.js
Due: eslint --fix, prettier --write

refactor: avoid nullish coalescing operator (??)
  packages/compat-v4/src/migrate/non-standard-template-literals/index.ts
  tests/fixtures-class/non-standard-template-literals/__snapshots__/auto-migrate.expected/template.marko
  tests/fixtures-class/non-standard-template-literals/__snapshots__/dom.expected/template.js
  tests/fixtures-class/non-standard-template-literals/__snapshots__/html.expected/template.js
  tests/fixtures-widget/assign-tag/__snapshots__/auto-migrate.expected/template.marko
  tests/fixtures-widget/assign-tag/__snapshots__/dom.expected/template.js
  tests/fixtures-widget/assign-tag/__snapshots__/html.expected/template.js
  tests/fixtures-widget/var-tag/__snapshots__/auto-migrate.expected/template.marko
  tests/fixtures-widget/var-tag/__snapshots__/dom.expected/template.js
  tests/fixtures-widget/var-tag/__snapshots__/html.expected/template.js
Due: eslint --fix, prettier --write

add changeset
  .changeset/sour-moose-breathe.md
Due: prettier --write

fix: avoid circular references
  .changeset/old-shoes-kneel.md
  packages/marko-widgets/src/components/widget-types/migrate.ts
  packages/marko-widgets/src/migrate/w-bind.ts
  tests/fixtures-widget/w-bind-directive/__snapshots__/dom.expected/template.js
  tests/old/components-browser/fixtures/_widget-renderer-and-template/index.js
  tests/old/components-browser/fixtures/_widget-renderer-and-template/template.marko
  tests/old/components-browser/fixtures/_widget-renderer-and-template/test.js
Due: eslint --fix, prettier --write

fix: non standard template literal escapes
  .changeset/heavy-squids-flow.md
  packages/compat-v4/src/migrate/non-standard-template-literals/parse.ts
  tests/fixtures-class/non-standard-template-literals/__snapshots__/auto-migrate.expected/template.marko
  tests/fixtures-class/non-standard-template-literals/__snapshots__/dom.expected.md
  tests/fixtures-class/non-standard-template-literals/__snapshots__/dom.expected/template.js
  tests/fixtures-class/non-standard-template-literals/__snapshots__/html.expected.md
  tests/fixtures-class/non-standard-template-literals/__snapshots__/html.expected/template.js
  tests/fixtures-class/non-standard-template-literals/__snapshots__/hydrate.expected.md
  tests/fixtures-class/non-standard-template-literals/__snapshots__/manual-migrate-0.expected/template.marko
  tests/fixtures-class/non-standard-template-literals/__snapshots__/manual-migrate-1.expected/template.marko
  tests/fixtures-class/non-standard-template-literals/template.marko
  tests/main.test.ts
Due: eslint --fix, prettier --write

fix: optimized html output bug
  .changeset/large-shrimps-hammer.md
  packages/marko-widgets/src/translate/optmize-html-writes.ts
Due: eslint --fix, prettier --write

fix: non standard tmpl literals inside legacy dynamic attrs
  .changeset/orange-rice-hope.md
  packages/compat-v4/src/migrate/dynamic-attributes.ts
  packages/compat-v4/src/migrate/non-standard-template-literals/index.ts
  tests/fixtures-class/non-standard-template-literals/__snapshots__/auto-migrate.expected/template.marko
  tests/fixtures-class/non-standard-template-literals/__snapshots__/dom.expected.md
  tests/fixtures-class/non-standard-template-literals/__snapshots__/dom.expected/template.js
  tests/fixtures-class/non-standard-template-literals/__snapshots__/html.expected.md
  tests/fixtures-class/non-standard-template-literals/__snapshots__/html.expected/template.js
  tests/fixtures-class/non-standard-template-literals/__snapshots__/hydrate.expected.md
  tests/fixtures-class/non-standard-template-literals/__snapshots__/manual-migrate-0.expected/template.marko
  tests/fixtures-class/non-standard-template-literals/__snapshots__/manual-migrate-1.expected/template.marko
  tests/fixtures-class/non-standard-template-literals/template.marko
Due: eslint --fix, prettier --write

fix: improve non standard template literal processing
  .changeset/modern-feet-move.md
  packages/compat-v4/src/migrate/non-standard-template-literals/index.ts
  packages/compat-v4/src/migrate/non-standard-template-literals/parse.ts
  tests/fixtures-class/non-standard-template-literals/__snapshots__/auto-migrate.expected/template.marko
  tests/fixtures-class/non-standard-template-literals/__snapshots__/dom.expected.md
  tests/fixtures-class/non-standard-template-literals/__snapshots__/dom.expected/template.js
  tests/fixtures-class/non-standard-template-literals/__snapshots__/html.expected.md
  tests/fixtures-class/non-standard-template-literals/__snapshots__/html.expected/template.js
  tests/fixtures-class/non-standard-template-literals/__snapshots__/hydrate.expected.md
  tests/fixtures-class/non-standard-template-literals/__snapshots__/manual-migrate-0.expected/template.marko
  tests/fixtures-class/non-standard-template-literals/__snapshots__/manual-migrate-1.expected/template.marko
  tests/fixtures-class/non-standard-template-literals/template.marko
Due: eslint --fix, prettier --write

fix: better attr tags handling
  .changeset/orange-needles-brush.md
  package-lock.json
  package.json
  packages/compat-v4/src/components/await/migrate.ts
  packages/compat-v4/src/components/for/migrate.ts
  packages/compat-v4/src/components/include/migrate.ts
  packages/compat-v4/src/migrate/hoist-attr-tags.ts
  packages/compat-v4/src/migrate/if-directive.ts
  packages/compat-v4/src/migrate/index.ts
  packages/compat-v4/src/migrate/legacy-attribute-tags.ts
  packages/compat-v4/src/migrate/loop-directive.ts
  packages/marko-widgets/src/components/async-fragment/migrate.ts
  packages/marko-widgets/src/components/layout-use/migrate.ts
  tests/main.test.ts
  tests/old/render/fixtures/helpers-empty-notEmpty-import/test.js
  tests/old/render/fixtures/helpers-empty-notEmpty-import2/test.js
Due: eslint --fix, prettier --write, sort-package-json --quiet

fix: ensure attr tag nodes added to correct ast location
  .changeset/warm-chicken-remain.md
  .github/workflows/ci.yml
  package-lock.json
  package.json
  packages/compat-v4/src/components/for/migrate.ts
  packages/compat-v4/src/migrate/legacy-attribute-tags.ts
  tests/fixtures-class/for-args-tag/__snapshots__/dom.expected/template.js
  tests/fixtures-class/for-args-tag/__snapshots__/html.expected/template.js
  tests/fixtures-class/for-directive/__snapshots__/dom.expected/template.js
  tests/fixtures-class/for-directive/__snapshots__/html.expected/template.js
  tests/fixtures-class/non-standard-template-literals/__snapshots__/html.expected/template.js
  tests/old/components-browser/fixtures/widget-renderer-only/test.js
Due: eslint --fix, prettier --write, sort-package-json --quiet

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: ((any of: *.ts) or (any of: *{.js,.json,.md,.yml,rc})) or (any of: ./package.json)
  sort-package-json --quiet: any of: ./package.json
